.greetingForm {
    width: 1280px;
    height: 200px;
    background: #FFF;
}

.inputAndButtonContainer {
    display: flex;
    margin: 10px 30px 0;
    gap: 12px;
}

.error {
    margin: 10px;
    color: #C00;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input {
    width: 372px;
    height: 36px;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #D1D1D1;

    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input:focus {
}

.errorInput {
    width: 372px;
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border: 1px solid #cc0000;

    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button {
    /*display: inline-flex;*/
    height: 36px;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 3px;
    background:  #06C;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.button:focus {
    outline: 1px solid black;
}

.button:active {
    background:  #FFF;
    color: #06C ;
    border-color: #06C;
}

.button:disabled {
    opacity: 0.5
}

.text {
    display: inline-block;
    margin: 30px 30px 0;
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.greeting {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 2px 30px;
}
